<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/sttle.css">
    <script src="/js/index.js"></script>

</head>
<body>
<h1>Welcome Page</h1>
<img id ="img1"  th:src="@{/img/digital_camera_photo-1080x675.jpg}" alt="Descripción de la imagen">
<p th:text="'Hola '+${name}"></p>
<form action="form" method="post">
    <input type="text" name="nombre" id="" placeholder="nombre">
    <input type="password" name="password" id="" placeholder="password">
    <input type="submit" value="Enviar">
</form>
<div th:if="${msg}">
    <p>Usuario o contraseña incorrectos</p>
</div>
<div>
    <button id="btnPedirDatos">Pedir datos</button>
    <ul id="lista"></ul>
    <hr>
    <input type="number" name="" id="idalumno" placeholder="idalumno">
    <input type="text" name="" id="nombre" placeholder="nombre">
    <input type="text" name="" id="apellidos" placeholder="apellidos">
    <input type="number" name="" id="edad" placeholder="edad">
    <button id="bntEnviarAlumno">Enviar Alumno</button>
</div>

</body>
</html>